body span.i18n-phrase.i18n-error {
	background-color: yellow;
}

.i18n-clickshield {
    background: rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.i18n-authoring-form {
    background: lightyellow;
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    margin: auto;
    top: 30%;
    left: 20%;
    right: 20%;
}

.i18n-authoring-form h3 {
    margin: 0 0 10px 0;
}

.i18n-authoring-form input {
    width: 80%;
}

.i18n-authoring-form textarea {
    width: 100%;
    height: 60px;
}

.i18n-authoring-form>div {
    margin-bottom: 7px;
}